*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: Amasis MT Pro Black;
	height: 90vh;
	background-image: url('../header.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
nav{
	background-image: url('../Tryy.png');
	height: 80px;
	width: 100%;
}

img{
	max-width: 100%;
	max-height: 100%;
	margin-left: 180px;
	float: left;
}
label.logoname{
	color:#fff;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	float: left;
}
nav ul{
	float: right;
	margin-right: 150px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 9px;
	color: black;
	text-transform: uppercaser;
	font-size: 20px;
	font-weight: bold;

}
nav ul li a{
	color: black;
	border: 1px solid #fff;
	padding: 5px 20px;
	border: 1px transparent;
	text-decoration: none;
}
nav ul li a:hover{
	background-color: lightcyan;
	transition: .9s ease;
}
div.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
div.title p{
	color: #fff;
	font-size: 70px;
	font-family: cooper black;
}
.intro{
	position: absolute;
	top: 135%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.intro{
	color: brown;
	font-size: 30px;
	font-family: congenial black;
}
.embeded{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.embeded{
	color: black;
	font-size: 30px;
	font-family: congenial black;
}
.basta{
	position: absolute;
	top: 160%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.basta{
	color: black;
	font-size: 40px;
	font-family: congenial black;
}
.members{
	position: absolute;
	top: 185%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.members{
	color: black;
	font-size: 40px;
	font-family: congenial black;
	border: 2px solid;
	border-color: brown;
	border-width: 3px;
	border-radius: 1px;
}
.embeded{
	position: absolute;
	top: 150%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.other{
	color: black;
	font-size: 25px;
	font-family: congenial black;
}
.other{
	position: absolute;
	top: 215%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.video{
	position: absolute;
	top: 225%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.video{
	color: black;
	font-size: 40px;
	font-family: congenial black;
}
.member{
	position: absolute;
	top: 238%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.member{
	color: black;
	font-size: 40px;
	font-family: congenial black;
	border: 2px solid;
	border-color: brown;
	border-width: 3px;
	border-radius: 1px;
}
.content{
	position: absolute;
	top: 258%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}
.content{
	color: black;
	font-size: 28px;
	font-family: congenial black;
}
footer{
	position: absolute;
	top: 275%;
	left: 50%;
	transform: translate(-50%,-50%);	
}
footer{
	color: black;
	font-size: 20px;
	text-align: center;
}
.checkbtn{
	font-size: 30px;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logoname{
		font-size: 30px;
		padding-left: 55px;
		float: center;
	}
	img{
		float: left;
		margin-left: 20px;
	}
	nav ul li{
		font-size: 20px;
	}
	body{
	font-family: Amasis MT Pro Black;
	height: 60vh;
	background-image: url('../header.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
    }
    label.logoname{
    display: none;
    }
    .intro{
    position: absolute;
	top: 69%;
	left: 50%;
	text-align: center;
        width: 300px;
	}
	.intro{
	color: black;
	font-size: 18px;
	font-family: congenial black;
	}
	.embeded{
    position: absolute;
	top: 80%;
	left: 50%;
	text-align: center;
    width: 300px;
	}
	.embeded{
	color: black;
	font-size: 33px;
	font-family: Amasis MT Pro Black;
	font-weight: bold;
	color: brown;
	}
	.basta{
    position: absolute;
	top: 86%;
	left: 50%;
	text-align: center;
    width: 300px;
	}
	.basta{
	color: black;
	font-size: 25px;
	font-family: Amasis MT Pro Black;
	}
	.members{
	position: absolute;
	top: 102%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 300px;
	font-weight: bold;
    }
    .members{
	color: black;
	font-size: 25px;
	font-family: congenial black;
	border: 2px solid;
	border-color: brown;
	border-width: 3px;
	border-radius: 1px;
    }
    .other{
    position: absolute;
	top: 120%;
	left: 50%;
	text-align: center;
    width: 300px;
	}
	.other{
	color: black;
	font-size: 30px;
	font-family: Amasis MT Pro Black;
	font-weight: bold;
	color: brown;
	}
	.video{
    position: absolute;
	top: 125.5%;
	left: 50%;
	text-align: center;
    width: 300px;
	}
	.video{
	color: black;
	font-size: 25px;
	font-family: Amasis MT Pro Black;
	}
	.member{
	position: absolute;
	top: 133%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	width: 300px;
	font-weight: bold;
    }
    .member{
	color: black;
	font-size: 25px;
	font-family: congenial black;
	border: 2px solid;
	border-color: brown;
	border-width: 3px;
	border-radius: 1px;
    }
    .content{
    position: absolute;
	top: 148%;
	left: 50%;
	width: 300px;
	text-align: center;
	font-size: 25px;
    }
	footer{
	position: absolute;
	top: 165%;
	left: 50%;
	text-align: center;	
	width: 300px;	
    }
    footer{
    color: black;
	font-size: 12px;	
    }
}
@media (max-width: 858px){
		.checkbtn{
		display: block;
		color: whitesmoke;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 50vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .1s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul i a{
		font-size: 50px;
	}
	a:hover,a.active{
		background: none;
		color: #0082e6;
	}
	#check:checked ~ ul{
		left: 0;
	}
}

